<header>
	<div class="container">
		<div class="d-flex flex-wrap align-items-center justify-content-between">
			<div class="logo">
				<a href="/index.html">
				    <img src="/admin/upload/home/logo/1632821673_a97f9fe84c6148592355.png" class="img-fluid">
					<img src="/admin/upload/home/favicon/1632720199_a4de114ec1b8c3954ab6.jpg" class="img-fluid sticky-logo">
				</a>
			</div>
			<div class="navigation">
			    <div class="nav-open">
			        <div class="hamburg-icon">
    			        <div class="line line-1"></div>
    			        <div class="line line-2"></div>
    			        <div class="line line-3"></div>
    			    </div>
			    </div>
				<nav>
									<li >
						<a href="/about-us.html">About Us
						</a>
					</li>
									<li >
						<a href="/differentiator.html">Differentiator
						</a>
					</li>
									<li >
						<a href="/search-services.html">Search Services
						</a>
					</li>
									<li >
						<a href="/consulting-services.html">Consulting Services
						</a>
					</li>
									<li >
						<a href="/ScenarioExpertise.html">Scenario Expertise
						</a>
					</li>
									<li >
						<a href="/insights/">Insights
						</a>
					</li>
									<li >
						<a href="/career.html">Careers
						</a>
					</li>
									<!-- <li class="dropdown">
						<a href="#">Search Services <i class="fa fa-chevron-down"></i></a>
						<div class="dropdown-menu">

						</div>
					</li>
					<li class="dropdown">
						<a href="#">Consulting Services <i class="fa fa-chevron-down"></i></a>
						<div class="dropdown-menu">

						</div>
					</li>
					<li class="dropdown">
						<a href="#">Scenario Experise <i class="fa fa-chevron-down"></i></a>
						<div class="dropdown-menu">

						</div>
					</li> -->
					<!-- <li class="header-contact-btn">
						<a href="#">Contact</a>
					</li> -->
				</nav>
			</div>
		</div>
	</div>
</header>

<script>
    $('.nav-open').click(function(){
        if($(this).hasClass('open')){
            $(this).removeClass('open')
            $('.navigation nav').slideUp()
        }
        else{
            $(this).addClass('open')
            $('.navigation nav').slideDown()
        }
    })
</script>
